node_modules

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
.idea_modules

# Logs
logs
*.log
npm-debug.log*

coverage
.nyc_output

# Until npm5 package-locks are more reliable.
package-lock.json

# Allow web-tester's dist
!samples/web-tester/dist

# Exclude build outputs (they'll get added automatically by CI).
dist
types/index.d.ts
CHANGELOG.md
