node_modules
dist
CHANGELOG.md

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
.idea_modules

# Logs
logs
*.log
npm-debug.log* 
