.github
.travis
samples
test
lib

.grunt

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
.idea_modules

.editorconfig
.eslintignore
.travis.yml
_config.yml
bower.json
package-lock.json # Not entirely sure that it's correct to exclude this.

# Logs
logs
*.log
npm-debug.log*

coverage
.nyc_output
